@{
    ViewData["Title"] = "Home Page";
}
@model Root

<div id="ptr">
    <!-- Pull down arrow indicator -->
    <span class="genericon genericon-next"></span>

    <!-- CSS-based loading indicator -->
    <div class="loading">
        <span id="l1"></span>
        <span id="l2"></span>
        <span id="l3"></span>
    </div>
</div>

<div id="content">
    <h2>Weather within Belfast</h2>
    <div id="weatherData">

    </div>
</div>





